.delete-wrapper {
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding: 32px;
  width: 100%;
  position: relative;
  border-radius: 8px;
}
.text-alert{
  color: var(--color-alert);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px 10px;
}

.white {
  color: var(--color-gray);
  background-color: #fff;
  border: 1px solid var(--color-gray-light);
}


.title {
  font-size: var(--size-text-title-h4);
}


@media only screen and (max-width: 764px) {
  .delete-wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
