.header-main{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 36px;
}
.header-wrapper {
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding: 32px;
  width: 100%;
  position: relative;
  border-radius: 8px;
}

.image-wrapper {
  position: relative;
  display: flex;
  max-width: 250px;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px 10px;
}

.white {
  color: var(--color-gray);
  background-color: #fff;
  border: 1px solid var(--color-gray-light);
}

.secondary {
  color: #fff;
  background-color: var(--color-secondary);
}


.primary {
  color: #fff;
  background-color: var(--color-primary);
}

.title {
  font-size: var(--size-text-title-h4);
}


@media only screen and (min-width: 764px) {
  .image-wrapper {
    width: 250px;
  }
}

@media only screen and (max-width: 764px) {
  .header-wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
